.layout {
    display: grid;
    grid-template-columns: 1fr;
}



.left,
.middle,
.right {
    height: 100vh;
    width: 100%;
    max-width: 100%;
}



.user-name {
    font-weight: 600;
}


.user-details {
    font-size: large;
    font-weight: 400;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
}


.functionalities {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 5rem;
    font-weight: 500;
    font-size: large;

}

.selector{
    height: 15px;
    width: 15px;
}

.log-out-btn{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.btn:hover {
    transform: scale(1.10);
    background-color: rgba(187, 187, 187, 0.363);
    cursor: pointer;
}

.sub-btn{
    margin-left: 2rem;
    width: 100%;
}


@media(min-width: 992px) {
    .layout {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .user-details {
        font-size: large;
        font-weight: 400;
        transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;
    }

    .logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: 1rem;
        margin-top: 1rem;
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }

    .user-name {
        font-weight: 600;
        transition: font-weight 0.3s ease-in-out;
    }
}