.userimg{
    height: 7rem;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0) !important;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
}

