.commentsofblood {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
}

.commentsofblood2 {
    font-size: x-large;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.blooddrop {
    height: 30px;
    width: 30px;
    margin-bottom: 0.3rem;
}

.bloodgroups {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

li {
    margin-top: 1rem;
    font-size: medium;
}

.brief-info {
    display: none !important;
    font-size: 0.9rem;
    color: #333;
    margin-top: 10px;
}

.show-info {
    border-radius: 1rem;
    border: 1.5px solid black;
    display: block !important;
    padding: 0.5rem;
}



@media (max-width: 992px) {
    .commentsofblood {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 8rem;
    }

    .commentsofblood2 {
        font-size: x-large;
    }

    h1 {
        font-size: x-large !important;
    }

    .bloodgroups {
        display: none;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
}


@media (max-width: 992px) {
    .commentsofblood {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 8rem;
    }

    .commentsofblood2 {
        font-size: large;
    }

    h1 {
        font-size: large !important;
    }

    .bloodgroups {
        display: none;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .checkoutBg-title {
        font-size: large;
        text-align: center;
    }

    .ImOfBlo-title {
        font-size: large;
    }

    li {
        font-size: small;
    }

}